.app-possibility{
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 1000px;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.app-possibility__question,
.app-possibility__answer{
  width: 202px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}
.app-possibility__question{
  margin-bottom: 50px;
}
.app-possibility__list{
  display: block;
  align-items: center;
  width: 252px;
  min-height: 99px;
  margin-top: 40px;
}
.app-possibility__item{

}
.app-possibility__item span{
  display: block;
  margin: 0 auto;
  color: #000000;
  font: 700 18px / 24px OpenSans;
  text-align: center;
}
.app-possibility__item p{
  color: #283645;
  font: 400 14px / 24px OpenSans;
  text-align: center;
}
.app-possibility__image{
  position: absolute;
  z-index: -1;
  bottom: -60px;
  display: block;
  margin: 45px 82px 0px 82px;
}

@media @tablet-widths{
  .app-possibility{
    min-height: 727px;
    padding: 0 40px;
  }
  .app-possibility__list{
    margin-top: 40px;
    width: 300px;
    align-self: flex-end;
  }
  .app-possibility__image{
    width: 265px;
    margin: 0;
  }
  .app-possibility__item p{
    text-align: left;
  }
}
