.app-possibility{
  width: 320px;
  min-height: 1000px;
  padding-top: 45px;
  box-sizing: border-box;
}
.app-possibility__question,
.app-possibility__answer{
  margin: 0 auto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  width: 202px;
}
.app-possibility__question{
  margin-bottom: 50px;
}
.app-possibility__list{
  display: block;
  margin: 0 auto;
  width: 252px;
  min-height: 99px;
  margin-top: 40px;
}
.app-possibility__item{

}
.app-possibility__item span{
  display: block;
  margin: 0 auto;
  color: #000000;
  font: 700 18px / 24px OpenSans;
  text-align: center;
}
.app-possibility__item p{
  color: #283645;
  font: 400 14px / 24px OpenSans;
  text-align: center;
}
