.contacts{
  min-height: 615px;
  padding-top: 47px;
  box-sizing: border-box;
}
.contacts__introduction-text{
  margin: 0 auto;
  margin-bottom: 40px;
  color: #283645;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}
.contacts__variant-item{
  width: 230px;
  margin: 0 auto 22px auto;
  box-sizing: border-box;
}
.contacts__what-do{
  margin: 0 auto 8px auto;
  text-align: center;
  width: 240px;
  text-align: center;
  color: #283645;
  font-size: 18px;
  font-weight: 700;
}
.contacts__value{
  display: block;
  margin: 0 auto;
  width: 240px;
  text-align: center;
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
}
.contacts__dislocation{
  margin-top: 45px;
  min-height: 200px;
  background-image: url(../img/bg-map-mobile@1x.png);
  background-repeat: no-repeat;
  font-size: 0;
}

@media @tablet-widths{
  .contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .contacts .motivation-sentense{
    width: 100%;
    margin-bottom: 30px;
  }
  .contacts__variant-item{
    width: 35%;
  }
  .contacts__dislocation{
    width: 100%;
}
}
