.container{
  .container();
}
.container--user-proposal{
  display: flex;
}
.container--photo-list{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
}
.container--contacts{
  display: flex;
  flex-direction: column;
}
.container--footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media @tablet-widths{
  .container--photo-list{
    padding: 0 40px;
  }
  .container--user-proposal{
  height: 228px;
  }
  .container--for-app-possibility-list{
    display: flex;
    justify-content: flex-end;
    z-index: 4;
  }
  .container--contacts{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .container--footer-container{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
  }
}
@media @desctop-widths{
  .container--navigation{
    display: flex;
    background-color: rgba(0,0,0,.3);
  }
  .container--first-motivation-sentense{
    margin-bottom: 83px;
  }
  .container--user-proposal{
  height: 285px;
  }
  .container--photo-list{
    height: auto;
    padding: 0 140px;
  }
  .container--for-app-possibility-list{
    display: inherit;
  }
}
