.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  min-height: 284px;
  padding: 37px 70px;
  box-sizing: border-box;
}
.footer__logo{
  display: block;
  width: 147px;
  height: 40px;
  background-image: url(../img/logo-pink-blue-mobile.svg);
  margin-bottom: 39px;
}
.footer__social{
  display: block;
  width: 180px;
  height: 52px;
  margin: 0 auto 37px auto;
  background-color: #fff;
  font-size: 0;
}
.footer__develop{
  width: 137px;
  min-height: 38px;
}
.footer__develop span{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 8px 10px 0 0;
  min-height: 34px;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
}
.footer__develop img{
  display: inline-block;
  vertical-align: top;
}
@media @tablet-widths{
  .footer{
    display: flex;
    padding: 20px 30px 20px 30px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}
