.header{
  width: 320px;
  background-color: #1d2631;
}
.header--index-header{
  min-height: 462px;
}
.header__space{
  background: url(..img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
}
