.header{
  position: relative;
  width: 100%;
  background-color: #1d2631;
  background: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 145px;
  box-sizing: border-box;
}
.header--index-header{
  min-height: 462px;
}
.header__nav-list{
  display: flex;
  flex-direction: column;
  min-height: 80px;
}
.header__space{
  .container();
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.header__hand-with-phone{
  position: absolute;
  z-index: 2;
  bottom: 280px;
  left: 0;
  right: 0;
  width:258px;
  height:286px;
  background-image: url(../img/iphone-hand-mobile@1x.png);
}
.header__space--photo-page{
  min-height: 180px;
}
.header__space--index-page{
  min-height: 462px;
}
.header__space--form-page{
  min-height: 170px;
  justify-content: center;
  align-items: center;
}

@media @tablet-widths{
  .header{
    background-position: bottom;
    background-size: contain;
  }
  .header__space{
    flex-direction: column;
  }
  .header__space--index-page{
    padding-top: 95px;
  }
  .header__hand-with-phone{
    left: 300px;
    bottom: 0;
  }
  .header__space--photo-page{
    min-height: 330px;
  }
  .header__space--form-page{
    min-height: 330px;
  }
}
@media @desctop-widths{
  .header{
    width: 100vw;
  }
  .header__space--index-page{
    height: 740px;
    width: 100%;
  }
  .header__space--photo-page{
    min-height: 285px;
  }
  .header__nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
