.impressions__persons-identification{
  min-height: 365px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: #fff;
}
.impressions__persons-progress{
  min-height: 600px;
  padding-top: 41px;
  background-color: #f2f2f2;
}
.impressions__contacts{
  min-height: 285px;
  padding: 34px 20px 20px 20px;
  box-sizing: border-box;
  background-color: #fff;
}
.impressions__travelling-app{
  min-height: 340px;
  padding: 34px 20px 20px 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.impressions__describe-emotions{
  min-height: 320px;
  padding-top: 40px;
}
.impressions__describe-emotions textarea{
  display: block;
  width: 276px;
  height: 197px;
  margin-top: 18px;
  padding: 16px 19px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
@media @tablet-widths{
  .impressions{
    display: flex;
    flex-direction: column;
  }
  .impressions__persons-identification{
    order: -10;
  }
  .impressions__travelling-app{
    order: -9;
  }
  .impressions__contacts{
    order: -8;
  }
  impressions__persons-progress{
    order: -7;
  }
  .impressions__describe-emotions{
    order: 0;
    padding: 60px 60px 53px 47px;
  }
  .impressions__describe-emotions textarea{
    width: 496px;
    height: 189px;
  }
}
