.main{
  width: auto;
}
.main__user-proposal{
  display: inline-block;
  height: auto;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}
@media @tablet-widths{
  .main__user-proposal{
    font-size: 18px;
    line-height: 30px;
  }
}
@media @desctop-widths{
  .main__user-proposal{
    font-size: 18px;
    line-height: 30px;
  }
}
