.make-post{
  min-height: 760px;
  padding: 18px 20px 41px 20px;
  background-color: #f2f2f2;
}
.make-post__img-box{
  width: 280px;
  height: 374px;
}
.make-post__modification{
  margin: 0 auto;
  width: 200px;
  height: 45px;
  margin-bottom: 36px;
  margin-top: 40px;
}
.make-post__modification a{
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 43px;
  background-color:azure;
  margin-right: 20px;
  font-size: 0;
}
.make-post__modification a:last-child{
  margin-right: 0;
}
.make-post__fit{
  min-height: 200px;
}
