.navigation{

}
.navigation__upper{
  width: 320px;
  height: 66px;
  opacity: 0.5;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 19px;
  box-sizing: border-box;
  font-size: 0;
}
.navigation__logo{
  display: block;
  margin: 0 auto;
  float: left;
  width: 75px;
  height: 22px;
  background-image: url(../img/logo-pink-white-mobile.svg);
}
.navigation__navigation-button{
  float: right;
  display: block;
  width: 50px;
  height: 24px;
  background-image: url(../img/icon-menu-burger.svg);
}
.navigation__item{
  display: inline-block;
  vertical-align: top;
  width: 320px;
  height: 63px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #283645;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
