.persons-progress ul{
  padding: 0;
  margin: 0;
}
.persons-progress__item{
  margin-top: 63px;
  margin-left: 125px;
  list-style: none;
}
.persons-progress__input{
  display: none;
}
.persons-progress__label{
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
@media @tablet-widths{
  .persons-progress__item{
    margin-left: 390px;
  }
}
