.photo-comment{
  padding: 25px 25px 28px 17px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 0;
}
.photo-comment__username{
  display: inline-block;
  margin-bottom: 3px;
  color: #283645;
  font: 700 14px / 24px OpenSans;
}
.photo-comment__time-published{
  display: inline-block;
  margin-bottom: 3px;
  color: #283645;
  font: 300 12px / 24px OpenSans;
}
.photo-comment__text{
  width: 100%;
  color: #283645;
  font: 400 14px / 24px OpenSans;
}
.photo-comment__like{
  display: block;
  margin-top: auto;
  margin-left: 25px;
  color: #d22856;
  font: 400 12px / 24px OpenSans;
  text-transform: uppercase;
}
/*.photo-comment__text-like{
  position: relative;
  display: none;
  float: left;
  color: #d22856;
  font: 400 12px / 24px OpenSans;
  text-transform: uppercase;
}*/
.photo-comment__like:before{
  position: absolute;
  content: '';
  width: 10px;
  left: 25px;
  background-image: url(../img/icon-heart.svg);
  background-repeat: no-repeat;

}
.photo-comment photo-comment--panorama{
  margin: 20px 20px 0 20px;
}
@media @tablet-widths{
  .photo-comment{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
}
