.photo-post{
  margin: 20px 20px 0 20px;
  width: 280px;
}
.photo-post__img-box{
  width: 280px;
  height: 180px;
}
.photo-post--panorama{
  margin: 0 auto;
}
.photo-post__img-box--panorama{
  width: 320px;
  height: 137px;
}
