.photo-list__item{
  margin-top: 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
}
div.photo-list__item--panorama{
  margin: 0 auto;
  width: 100%;
}
div.photo-comment--panorama{
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
@media @tablet-widths{
  .photo-list__item{
    width: 300px;
  }
/*  .photo-list__item img{
    width: 300px;
    height: 300px;
  }*/
  div.photo-comment--panorama{
    width: 100%;
  }
}
@media @desctop-widths{

}
