.photo-list{
  background-color: #fff;
  min-height: 2088px;
}
.photo-list__inner-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
}
.photo-list__item{
  margin-top: 20px;
  width: 280px;
}
.photo-list__item--panorama{
  margin: 0 auto;
  width: 100%;
}
div.photo-comment--panorama{
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
@media @tablet-widths{
  .photo-list__item{
    width: 300px;
  }
  div.photo-list__item--panorama{
    width: 700px;
  }
  div.photo-comment--panorama{
    width: 100%;
  }
}
