.slide-list__item{
  position: relative;
  width: 276px;
}
.item__header{
  padding-top: 17px;
  color: #283645;
  font: 400 14px / 30px OpenSans;
  background-color: #283645;
  width: 276px;
  height: 94px;
  box-sizing: border-box;
}
.item__name{
  display: block;
  width: 98px;
  margin-left: 90px;
  text-align: left;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.item__price{
  display: block;
  width: 98px;
  margin-left: 90px;
  text-align: left;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}
.slide-list__item ul{
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.slide-list__item li{
  margin: 0;
  padding: 16px 22px;
  width: 276px;
  min-height: 63px;
  box-sizing: border-box;
  color: #283645;
  font: 400 14px / 30px OpenSans;
  text-transform: uppercase;
}
slide-list__item--flag-hit-category::before{
  position: absolute;
  content: '';
  background-image: url(../img/bg-hit-tablet.svg);
  top: 0;
  left: 0;
  background-position: left;
  z-index: 3;
}
